<div class="container">
  <mat-card>
    <h2>Test Header</h2>
    <button mat-raised-button color="Primary">Primary</button>
    <button mat-raised-button color="Accent">Primary</button>

    <button
      mat-icon-button
      color="accent"
      aria-label="Example icon-button with a heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      color="warn"
      aria-label="Example icon-button with a heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-card>
</div>
